@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A website for those who like to do and keep track of their own oil changes. Feel free to sign in and check it out!</p>
<p></p>
