@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A website for those who like to do and keep track of their own oil changes.</p>
<p>This is an additional line of test code.</p>
