@{
    ViewBag.Title = "Contact me!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Aaron Wood<br />
    <a href="mailto:aaronw@aaronwood.net">aaron@aaronwood.net</a><br />
    <a href="https://www.aaronwood.net">http://www.aaronwood.net</a>
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@