@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Aaron's Oil Change Tracker!</h2>
    <p class="lead">Tracking oil changes since 2019!</p>
</div>

<div class="row">
    @Html.Partial("_LoginPartial")
</div>